@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    text-decoration: none;
    border: none;
}

main {
    margin: 0 16.65%;
}

hr {
    border: 1px solid #ababab;
    margin-top: 32px;
    margin-bottom: 32px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #03045E;
    margin-bottom: 32px;
}

/* Tirei a margem to título do aviso fixado para não quebrar o escrito laranja */
.sem_margem {
    font-size: 2rem;
    font-weight: 700;
    color: #03045E;
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 48px;
    box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.36);
    margin-bottom: 32px;
}

.navbar_logo {
    width: 12%;
    min-width: 96px;
}

.navbar_menu {
    display: flex;
    font-weight: 600;
    gap: 32px;
}

.navbar_menu_item {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #303030;
}

.navbar_area_aluno {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: #303030;
    cursor: pointer;
}

.navbar_area_aluno img {
    width: 14px;
    height: 14px;
    filter: brightness(0.4);
}

.navbar_menu_item:hover, .navbar_area_aluno:hover {
    padding: 8px;
    background-color: #e8e8e8;
    border-radius: 8px;
}

.active {
    color: #4267EA;
}

/* Responsividade Navbar */

.navbar_hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
}

.navbar_hamburguer_linha {
    width: 48px;
    height: 3px;
    border-radius: 4px;
    background-color: #03045E;
}

@media only screen and (max-width: 768px) {

    .navbar_menu {
        display: none;
        position: absolute;
        top: 85px;
        width: 100%;
        margin-left: -48px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f4f4f4;
        z-index: 2;
        box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.36);
        animation-name: menutop;
        animation-duration: 0.6s;
    }

    @keyframes menutop {
        from {margin-top: -200px; opacity:0}
        to {margin-top: 0px; opacity:1}
    }

    .navbar_menu_item:hover, .navbar_area_aluno:hover {
        background-color: #d9d9d9;
        
    }
    .navbar_menu_item:nth-child(1) {
        margin-top: 32px;
    }

    .navbar_menu_item:nth-child(4) {
        margin-bottom: 32px;
    }

    .navbar_hamburguer {
        display: flex;
        cursor: pointer;
    }
}




/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 134px auto;
    justify-content: center;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    animation-name: animatetop;
    animation-duration: 0.6s;
}

@keyframes animatetop {
    from {margin-top: -134px; opacity:0}
    to {margin-top: 134px; opacity:1}
}

.modal_cima {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.modal_baixo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal_baixo_botao_sim {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 48px;
    background-color: #03045E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 32px;
    cursor: pointer;
}

.modal_baixo_botao_sim:hover {
    background-color: #020348;
}

.modal_baixo_botao_voltar {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 48px;
    background-color: #a5a5a5;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 32px;
    cursor: pointer;
}

.modal_baixo_botao_voltar:hover {
    background-color: #8f8f8f;
}

/* Responsividade Modal */

@media only screen and (max-width: 768px) {

    .modal_conteudo {
        width: 75%;
    }
}


/* Hero Banner */

.hero_banner_home img {
    width: 100%;
    margin-bottom: 16px;
}

/* Aviso */

.aviso {
    display: flex;
    flex-direction: column;
}

.aviso_cima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}

.aviso_cima_fixado {
    background-color: #EE924F;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
}

.botao_externo {
    margin-top: 32px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 48px;
    background-color: #03045E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 256px;
    padding: 12px 32px;
    cursor: pointer;
}

.botao_externo img {
    width: 28px;
}

.botao_externo:hover {
    background-color: #020348;
}

/* Aviso Responsividade */

@media only screen and (max-width: 768px) {

    .aviso {
        align-items: center;
        text-align: center;
    }

    .aviso_cima {
        flex-direction: column-reverse;
        text-align: center;
        gap: 12px;
    }
}

/* Área do Aluno, usado por outras páginas */

.info_texto_imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_texto_imagem_titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #03045E;
    margin-bottom: 32px;
}

.info_texto_imagem_direita img {
    width: 200px;
    margin-left: 32px;
}

/* Área do Aluno Responsividade */

@media only screen and (max-width: 768px) {

    .info_texto_imagem {
        flex-direction: column;
        align-items: center;
    }

    .info_texto_imagem_direita img {
        margin-top: 32px;
        margin-left: 0px;
    }

    .info_texto_imagem_esquerda {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

/* Sobre */

.sobre_titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #03045E;
    margin-bottom: 32px;
}

.cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 32px;
    margin-top: 32px;
}

.card_individual {
    background: rgb(36,128,99);
    background: linear-gradient(90deg, rgba(36,128,99,1) 15%, rgba(38,167,126,1) 40%, rgba(40,195,146,1) 50%, rgba(38,167,126,1) 60%, rgba(36,128,99,1) 85%);
    background-size: 400% 400%;
    padding: 32px;
    border-radius: 16px;
}

.card_individual:hover {
    animation: gradient 2s ease;
    }

@keyframes gradient {
  0% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.card_individual_titulo {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 80px;
}

.card_individual_botao {
    padding: 12px 24px;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    color:#2D9071;
    cursor: pointer;
}

.card_individual_botao:hover {
    background-color: #e3e3e3;
}

/* Responsividade Sobre */

@media only screen and (max-width: 768px) {

    .sobre {
        align-items: center;
        text-align: center;
    }

    .cards {
        flex-direction: column;
    }

    .card_individual_titulo {
        margin-bottom: 32px;
    }
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-color: #00012F;
    padding: 32px 128px;
    margin-top: 128px;
}

.footer_esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 12px;
    font-weight: 600;
}

.footer_esquerda img {
    width: 144px;
}

.badge {
    margin-top: 48px;
}

.divisoria {
    background-color: white;
    width: 1px;
    height: 320px;
}

.footer_direita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_direita_cima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navegacao {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #2D9071;
}

.direita_titulo {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.newsletter {
    color: white;
    font-size: 0.8rem;
}

.enviar_email {
    display: flex;
    justify-content: space-between;
}

.input_email {
    margin-top: 32px;
    padding: 16px;
    outline: none;
    border-radius: 8px;
}

.botao_enviar_footer {
    color: white;
    font-weight: 600;
    margin-top: 32px;
    padding: 16px;
    border-radius: 8px;
    background-color: #2D9071;
    cursor: pointer;
}

.botao_enviar_footer:hover {
    background-color: #248063;
}

.redes_sociais_logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.redes_sociais_logos img {
    width: 36px;
}

.redes_sociais_logos img:hover {
    cursor: pointer;
    filter: brightness(80%)
}

.footer_direita_baixo {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.8rem;
    gap: 16px;
}

.footer_direita_baixo_azul {
    color: #00A3FF;
}

.redirect:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Responsividade Footer */

@media only screen and (max-width: 1285px) {
    .divisoria {
        display: none;
    }
    
    .footer_direita_cima {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 1200px) {

    .badge {
        margin-bottom: 48px;
    }
    .footer_direita_cima {
        margin-bottom: 32px;
        flex-direction: column;
        gap: 32px;
    }

    .footer_direita_baixo {
        text-align: center;
    }

    .footer_direita {
        align-items: center;
    }

    .navegacao {
        align-items: center;
    }

    .newsletter p {
        text-align: center;
    }

    .direita_titulo {
        display: flex;
        justify-content: center;
    }
   
    .redes_sociais_logos {
        justify-content: center;
    }
    .footer_direita_cima {
        flex-direction: column;
    }

    .enviar_email {
        justify-content: flex-start;
        gap: 32px;
    }
}

/* Página Quem Somos */

.hero_banner img {
    width: 100%;
    margin-bottom: 32px;
}

/* Responsividade Parte de Cima */

@media only screen and (max-width: 768px) {

    .info_texto_imagem_direita_sobre_nos img {
        justify-content: center;
    }
    
}

/* Cards 5 Motivos */

.grid_titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #03045E;
    margin-bottom: 64px;
}

.wrapper_centralizar {
    display: flex;
    justify-content: center;
}

.cards_5_motivos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 128px;
    grid-row-gap: 48px;
}

.os_5_motivos_titulo {
    margin-bottom: 64px;
}
    
.motivos_div1 { grid-area: 1 / 1 / 2 / 2; }
.motivos_div2 { grid-area: 1 / 2 / 2 / 3; }
.motivos_div3 { grid-area: 2 / 1 / 3 / 2; }
.motivos_div4 { grid-area: 2 / 2 / 3 / 3; }
.motivos_div5 { grid-area: 3 / 1 / 4 / 2; }
.motivos_div6 { grid-area: 3 / 2 / 4 / 3; }
.motivos_div7 { grid-area: 4 / 1 / 5 / 2; }
.motivos_div8 { grid-area: 4 / 2 / 5 / 3; }
.motivos_div9 { grid-area: 5 / 1 / 6 / 2; }
.motivos_div10 { grid-area: 5 / 2 / 6 / 3; }

.grid_subtitulo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #03045E;
}

.motivos_div1, .motivos_div4, .motivos_div5, .motivos_div8, .motivos_div9 {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
}

.divisoria_diff {
    margin-top: 64px;
    margin-bottom: 64px;
}

/* Cards Cursos Oferecidos */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 128px;
    grid-row-gap: 16px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }

.card {
    width: 450px;
}

.aparecer_botao {
    position: relative;
    width: 450px;
}

.botao_saiba_mais {
    display: flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 24px;
    left: 24px;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: #2D9071;
}

.botao_saiba_mais img {
    width: 24px;
}

.botao_saiba_mais:hover {
    background-color: #248063;
}

/* Responsividade Grids */

@media only screen and (max-width: 1200px) {

    .os_5_motivos_titulo {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;

    }

    .cards_5_motivos p {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        max-width: 256px;
    }

    .grid_subtitulo {
        font-size: 1.5rem;
    }

    .cards_5_motivos {
        justify-items: center;
    }

    .cards_5_motivos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
    }
        
    .motivos_div1 { grid-area: 1 / 1 / 2 / 2; }
    .motivos_div2 { grid-area: 2 / 1 / 3 / 2; }
    .motivos_div3 { grid-area: 4 / 1 / 5 / 2; }
    .motivos_div4 { grid-area: 3 / 1 / 4 / 2; }
    .motivos_div5 { grid-area: 5 / 1 / 6 / 2; }
    .motivos_div6 { grid-area: 6 / 1 / 7 / 2; }
    .motivos_div7 { grid-area: 8 / 1 / 9 / 2; }
    .motivos_div8 { grid-area: 7 / 1 / 8 / 2; }
    .motivos_div9 { grid-area: 9 / 1 / 10 / 2; }
    .motivos_div10 { grid-area: 10 / 1 / 11 / 2; }

    .motivos_div1, .motivos_div2, .motivos_div3, .motivos_div4, .motivos_div5, .motivos_div6,
    .motivos_div7, .motivos_div8, .motivos_div9, .motivos_div10 {
        align-items: center;
    }

    .card {
        width: 350px;
    }

    /* Grid dos Cursos */

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
        }
        
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 6 / 1 / 7 / 2; }

    .div1, .div2, .div3, .div4, .div5, .div6 {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {

    .div1 button, .div2 button, .div3 button, .div4 button, .div5 button, .div6 button {
        padding: 12px 32px 12px 170px;
        left: -100px;
    }
}

/* Contato */

.formas_contato {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.info_texto_imagem_direita_contato img {
    width: 320px;
}

.mini_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 12px 24px;
    color: white;
    background-color: #2D9071;
    font-size: 1.2rem;
    font-weight: 500;
    width: 320px;
    border-radius: 12px;
}

.mini_card img {
    width: 40px;
}

.parte_formulario {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nome_sobrenome {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 32px;
}

.formulario {
    display: flex;
    flex-direction: column;

}

.formulario_baixo {
    width: 85%;
}

.form_item {
    display: flex;
    flex-direction: column;
    width: 47.5%;
}

.apenas_nome {
    display: none;
}

.label_forms {
    color:#03045E;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.input_forms {
    border: 1px solid #ababab;
    font-size: 1rem;
    border-radius: 8px;
    height: 48px;
    padding: 12px 20px;
    outline: none;
}

.input_forms:focus {
    border: 2px solid #03045E;
}

.assunto {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.mensagem {
    display: flex;
    flex-direction: column;
    height: 200%;
}

.contador {
    margin-top: 16px;
    align-self: flex-end;
}

textarea {
    border: 1px solid #ababab;
    font-size: 1rem;
    border-radius: 8px;
    padding: 12px 20px;
    outline: none;
}

textarea:focus {
    border: 2px solid #03045E;
}

.resize {
    overflow: auto;
    height: 256px;
    min-height: 128px;
    resize: vertical;
}

.botao_enviar {
    border: none;
    border-radius: 8px;
    background-color: #03045E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 128px;
    padding: 12px 32px;
    cursor: pointer;
}

.botao_enviar:hover {
    background-color: #020348;
}

.mensagem_flash {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #d4442a;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
}

.mensagem_flash img {
    width: 32px;
    height: 32px;
}

.flash_verde {
    background-color: #41a384;
}

.enviar_e_flash {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

/* Responsividade Contato */

@media only screen and (max-width: 768px) {

    .formulario_cima {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .formulario_baixo {
        width: 100%;
    }

    .info_texto_imagem_direita_contato img {
        margin-top: 32px;
    }

    .apenas_nome {
        display: block;
    }

    .nome_completo {
        display: none;
    }

    .formas_contato {
        align-items: center;
    }

    .botao_enviar {
        display: flex;
        justify-content: center;
        height: 48px;
    }

    .mensagem_flash {
        font-size: 0.8rem;
    }
}




/* Página Admin */

/* Senha */

.senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.senha_parte_baixo {
    display: flex;
    flex-direction: row;
}

.senha input {
    border: 1px solid #03045E;
    padding: 16px;
    font-size: 1rem;
    border-radius: 8px;
    margin-right: 16px;
}

.senha button {
    background-color: #03045E;
    color: white;
    padding: 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.senha button:hover {
    background-color: #020348;
}

/* Conteúdo */

.card_mensagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    background-color: #ededed;
    padding: 32px;
    border-radius: 32px;
}

.card_mensagem_esquerda {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 64px;
}

.card_mensagem input {
    background-color: #d4442a;
    color: white;
    padding: 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.card_mensagem input:hover {
    background-color: #ae311b;
}