{% extends 'base.html' %}

    {% block content %}
    <main>
        <hr class="divisoria">

        <img src="/static/img/capa.png" class="imagem_capa">

        <h1 class="titulo">Sobre a Universidade</h1>

        <p>Nossa universidade é muito boa. Tipo, muito mesmo. Caso você não saiba, temos milhares de prêmios e medalhas de competições internacionais. São tantas, mas tantas, que não é nem possível listá-las todas aqui. Mas saiba que nossos alunos são muito inteligentes.</p>
        <p>A universidade UNES foi fundada em mil novecentos e... bolinha. Ninguém sabe ao certo a data exata de fundação, pois o escrivão da época esqueceu de documentar o processo - isso mesmo o que você leu: um escrivão esqueceu de... escrever!</p>
        <p>A nossa renomada faculdade possui uma estrutura perfeita e um campus enorme. Alias, o campus é tão grande que mais de 3% dos nossos alunos já foram dados como desaparecidos dentro dele. Alguns foram encontrados... sem vida, em um matagal, mas não se preocupe - desde esse incidente, nós contratamos seguranças privados para vigiar a área.</p>
        <p>Nosso material de ensino foi revisado por mais de 500 editores internacionais, incluindo nada mais, nada menos que a própria Malala Yousafzai! Nosso material é de extrema qualidade; por exemplo, cada página de nossos livros provém de uma árvore raríssima, a Arbeocustre Mananifel, encontrada apenas em uma região remota no norte da Grécia. Algumas lendas dizem que o próprio Sócrates sentava ao lado dessas árvores para filosofar com seus amigos.</p>
    </main>
    {% endblock %}