{% extends 'base.html' %}

    {% block content %}
    <main>
        <hr class="divisoria">

        <h1 class="titulo">Quem somos</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut quaerat, facere omnis porro illum vitae unde corporis laborum sed libero blanditiis modi tenetur magni iusto rem eius explicabo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolor ducimus cum eos minima quos unde fugit accusantium magni ex inventore itaque hic nemo officiis nam aliquid nesciunt quaerat dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste officia minus deserunt culpa error voluptatem temporibus perferendis explicabo nulla sint, veniam ipsa ea ad nam qui itaque omnis maxime.</p>

        <h2 class="titulo">5 motivos para estudar com a gente</h2>

        <ol>
            <li>Material sempre atualizado</p>
            <li>Tablets em sala de aula</p>
            <li>Professores renomados</p>
            <li>Universidade bem avaliada</p>
            <li>Ótima localização</p>
        </ol>

        <hr class="divisoria">

        <h1 class="titulo">Objetivos</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut quaerat, facere omnis porro illum vitae unde corporis laborum sed libero blanditiis modi tenetur magni iusto rem eius explicabo itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolor ducimus cum eos minima quos unde fugit accusantium magni ex inventore itaque hic nemo officiis nam aliquid nesciunt quaerat dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iste officia minus deserunt culpa error voluptatem temporibus perferendis explicabo nulla sint, veniam ipsa ea ad nam qui itaque omnis maxime.</p>
    </main>
    {% endblock %}