{% extends "base.html" %}

{% block title %} Sobre Nós | Unes {% endblock %}

    {% block content %}

        <header class="hero_banner">
            <img src="/static/img/hero_banner_quem_somos.png">
        </header>

        <section class="info_texto_imagem">
            <div class="info_texto_imagem_esquerda">
                <h1>Introdução</h1>
                <p>Administrado pelo Governo Federal, a UNES - Universidade Nacional Emancipada e Sagaz, é uma das maiores 
                instituições de ensino superior da América Latina, reconhecido até mesmo por revistas internacionais como 
                a Forbes. Nós oferecemos vários cursos relacionados a tecnologia atualizados para os nossos alunos, ensinados 
                por professores extremamente competentes.</p>
            </div>
            <div class="info_texto_imagem_direita">
                <img src="/static/img/mulher_pasta.png">
            </div>
        </section>

        <hr>

        <h1 class="os_5_motivos_titulo">5 Motivos para estudar com a gente</h1>

        <div class="wrapper_centralizar">
            <div class="cards_5_motivos">
                <div class="motivos_div1">
                    <h2 class="grid_subtitulo">1. Material sempre atualizado</h2>
                    <p>Todos os nossos materiais seguem o princípio da BNCC. Nossa maior responsabilidade é
                    sempre atualizá-lo na medida do possível.
                    </p>
                </div>
                <div class="motivos_div2"> 
                    <img class="card" src="/static/img/5_motivos_1.png">
                </div>
                <div class="motivos_div3">
                    <img class="card" src="/static/img/5_motivos_2.png">
                </div>
                <div class="motivos_div4">
                    <h2 class="grid_subtitulo">2. Tablets em sala de aula</h2>
                    <p>Financiado pelo Governo Federal, nós temos o privilégio de poder abastecer todas as nossas salas com tablets 
                    equipados com tecnologia de ponta, para os mais diversos tipos de uso.</p>
                </div>
                <div class="motivos_div5">
                    <h2 class="grid_subtitulo">3. Professores Renomados</h2>
                    <p>Nossos professores foram escolhidos a dedo por agentes do mais alto escalão do Governo Federal. Mais da metade 
                    de nossos professores possuem mestrado em Harvard.</p>
                </div>
                <div class="motivos_div6">
                    <img class="card" src="/static/img/5_motivos_3.png">
                </div>
                <div class="motivos_div7"> 
                    <img class="card" src="/static/img/5_motivos_4.png">
                </div>
                <div class="motivos_div8">
                    <h2 class="grid_subtitulo">4. Universidade bem avaliada</h2>
                    <p>A UNES é uma das top 10 universidades da América Latina de acordo com a revista 
                    internacional renomada Forbes, e nós temos muito orgulho dessa conquista.</p>
                </div>
                <div class="motivos_div9">
                    <h2 class="grid_subtitulo">5. Ótima localização</h2>
                    <p>As nossas instalações se localizam na aba norte do Conglomerado Internacional de Belo Horizonte: perto de 
                    supermercados, farmácias, hospitais, salões, bares, etc.</p>
                </div>
                <div class="motivos_div10">
                    <img class="card" src="/static/img/5_motivos_5.png">
                </div>
            </div>
        </div>

        <hr class="divisoria_diff">

        <h1>Cursos Oferecidos</h1>

        <div class="wrapper_centralizar">
            <div class="parent">
                <div class="div1 aparecer_botao">
                    <img class="card" src="/static/img/curso_1.png">
                    <button class="botao_saiba_mais"> Saiba Mais <img src="/static/img/seta_botao_saiba_mais.png"> </button>
                </div>
                <div class="div2 aparecer_botao">
                    <img class="card" src="/static/img/curso_2.png">
                    <button class="botao_saiba_mais"> Saiba Mais <img src="/static/img/seta_botao_saiba_mais.png"> </button>
                </div>
                <div class="div3 aparecer_botao">
                    <img class="card" src="/static/img/curso_3.png">
                    <button class="botao_saiba_mais"> Saiba Mais <img src="/static/img/seta_botao_saiba_mais.png"> </button>
                </div>
                <div class="div4 aparecer_botao">
                    <img class="card" src="/static/img/curso_4.png">
                    <button class="botao_saiba_mais"> Saiba Mais <img src="/static/img/seta_botao_saiba_mais.png"> </button>
                </div>
                <div class="div5 aparecer_botao">
                    <img class="card" src="/static/img/curso_5.png">
                    <button class="botao_saiba_mais"> Saiba Mais <img src="/static/img/seta_botao_saiba_mais.png"> </button>
                </div>
                <div class="div6 aparecer_botao">
                    <img class="card" src="/static/img/curso_6.png">
                    <button class="botao_saiba_mais"> Saiba Mais <img src="/static/img/seta_botao_saiba_mais.png"> </button>
                </div>
            </div>
        </div>

    {% endblock %}